<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>miki</title>
    <link rel="stylesheet" type="text/css" href="./../assets/css/style.css
">

</head>
<body>
    <h1>kuku</h1>
    <title>{{ pageTitle }}</title> 
    <input type="text" id="AA">
    <button id="BB">Klik</button>
    <p id="CC"></p>
    
    <script src="./../js/func.js"></script>
</body>
</html>